footer.pageFooter,
.pageFooter :where(.left, .right, .bottom, fieldset)
{
    padding: var(--default-pading);
}
footer.pageFooter
{
    background-color: chartreuse;
}
.pageFooter .left
{
    float: left;
    width: 20%;
}
.pageFooter .left ul
{
    padding-left: 10px;
}
.pageFooter .left li
{
    line-height: 1.3em;
}
.pageFooter .right fieldset
{
    position: relative;
}
.pageFooter .right .formGroup:nth-of-type(1)
{
    float: left;
}
.pageFooter .right .formGroup:nth-of-type(2)
{
    width: fit-content;
    margin: auto;
}
.pageFooter .right button[type="submit"]
{
    position: absolute;
    right: var(--default-pading);
    bottom: var(--default-pading);
    padding: var(--default-pading);
    text-transform:uppercase;
    font-weight: bold;
    font-size: 1em;
}
.pageFooter .right label
{
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: underline;
    margin-bottom: 5px;
}
.pageFooter .bottom
{
    text-align: center;
}
