/* Header des pages */
header.pageHeader
{
    background-color: aquamarine;
    padding: var(--default-pading);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.pageHeader .logo img
{
    width: 100px;
}
.pageHeader .title
{
    animation: grow 2s linear 1;
}
.pageHeader form.search
{
    flex-grow: 1;
    display: flex;
    justify-content: end;
}
.pageHeader form input[type="text"]
{
    height: 2rem;
    border-radius: 10px;
    padding: 0 1rem;
}
.pageHeader form input[type="submit"]
{
    height: 2rem;
    aspect-ratio: 1/1;
    font-size: 1rem;
    cursor: pointer;
    transition: rotate .3s;
}
.pageHeader form input[type="submit"]:hover
{
    rotate: 360deg;
}