.pageHeader form.search
{
    flex-grow: 0;
    align-self: flex-end;
}
nav.sideNavigation
{
    position: sticky;
    top: 0;
}
.sideNavigation label[for="burger"]
{
    display: none;
}
.sideNavigation menu.navigation
{
    width: 100%;
    scale: 1;
    height: auto !important;
    display: flex;
    justify-content: space-evenly;
    overflow: initial;
}
.sideNavigation menu li
{
    list-style: none;
}
.pageFooter .right fieldset
{
    justify-content: space-evenly;
}